.logo  {
  max-width: 70px;
  max-height: 70px;
  position: absolute;
  top : 30px;
  left: 3%;
  z-index: 100;
}

.navBar {
  list-style: none;
}

.navBar li {
  display: inline-block;
  padding: 20px;
  z-index: 100;
}

.nav {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: 600;
  z-index: 100;
}

li:hover {
  color: white;
  font-weight: 1000;
  border-bottom: 2px solid white;
  cursor: pointer;
}
